.faq-wrapper {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.faq-wrapper h3 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #07092a;
  padding-bottom: 20px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  font-size: 22px;
  font-weight: 600;
  color: #07092a;
}

.accordion-button:not(.collapsed) {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  background: #07092ad5;
}

@media (min-width: 1500px) {
  .faq-wrapper {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .faq-wrapper h3 {
    font-size: 30px;
  }
}
